*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
}

#navi1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    color: white;
    height: 4.63vh;
    text-decoration:none;
    object-fit: cover;
    
    
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}

.slider {
    width: 100vw;
    text-align: center;
}

.slider img {
    width: 100%;
    height: 50vh;
    display: block;
    object-fit: cover;
}

.dots {
    margin-top: 0.93vh;
}

.dots span {
    font-size: 20px;
    cursor: pointer;
    margin: 0.98vh;
}

header{
    background:#f58804;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 2vw;
    height: 5vh;
}